DATABASE_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
BLOB_STORE_ID=""
BLOB_WEBHOOK_PUBLIC_KEY=""
SINGULARE_CLIENT_ID=""
SINGULARE_CLIENT_SECRET=""
PDD_RESUMO_API_KEY=""
OPENAI_API_KEY=""
OPENAI_PDD_SUMMARY_MODEL=""
